.top {
 margin-top: 100px;
}
/* Darker background on mouse-over */
.btn:hover {
  background-color: rgb(10, 10, 10);
}
.btn {
    color: rgb(68, 68, 67) !important;
    display: flex;
    border: none;
  color: rgb(248, 246, 246);
  font-size: 16px;
  border-radius: 20%;
  margin-right: 20px;
  cursor: pointer;
  float: right;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
/*responsive css*/
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.white {
   color:aliceblue !important;

}
.topnav {
  overflow: hidden;
  background-color: #333;
}
.fixed  {
  width: 98% !important;
  position: fixed;
} 
.topnav a {
  float: left;
  display: block;
  color: #990606;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: rgb(150, 5, 5);
  color: rgb(0, 0, 0);
}

.topnav a.active {
  background-color: #990a0a;
  color: rgb(0, 0, 0);
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/*dark mode css*/
body {
  padding: 25px;
  background-color: white;
  color: black;
  font-size: 25px;
}

.dark-mode {
  background-color: black !important;
  color: white !important;
}
/*flexbox*/
.flex-container {
  display: flex;
  
  padding:10px;
  justify-content:space-evenly;
}
.div1{
  background-color: rgb(44, 43, 43);
width:200px;
height:330px;
background-color:rgb(58, 56, 56);
border:1px solid black;
border-radius:15px;
overflow:hidden;
}
.header{
background-color:yellow;
color:black;
height:40px;
display:flex;
align-items:center;
justify-content:center;
}
.content{
  background-color: rgb(58, 56, 56);
text-align:center;}

.line{
width:100px;
height:1px;
background-color:silver;
margin:0 auto;
}

.area {
  padding-bottom: 800px !important;
}